// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "mobileSelect";

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family:'Roboto', sans-serif;
}

.body {
    width: 100vw;
    height: 100vh;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;

    filter        : blur(10px);
    -moz-filter   : blur(10px);
    -webkit-filter: blur(10px);
    -o-filter     : blur(10px);

    transition        : all 2s linear;
    -moz-transition   : all 2s linear;
    -webkit-transition: all 2s linear;
    -o-transition     : all 2s linear;
}

.his {
    width: 100%;
    position:   absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.clear-box {
    margin-top: 20px;
}

.his-container, .his-container-edit {
    margin: 25px;
    background-color: white;
    max-height: 85vh;
}

.his-container-edit {
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    .regis-body {
        height: 500px;
        max-height: 500px;
        .form-horizontal {
            margin: 10px;
        }
    }
}

label {
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
}

button.btn {
    border-radius: 0px;
    background-color: #2996FF;
    color: white;
    font-weight: bold;
    font-size: 11px;
    padding: 3px 25px;
}

.his-header {
    background-color: white;
    font-size: 20px;
    .header-name {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }
}

.his-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}


.regis-body>form,
.history>table {
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
}

.regis-body>form {
    padding: 20px 0px;
}

.box-header {
    font-weight: bold;
    font-size: 16px;
}

.child-box-header {
    font-weight: bold;
    font-size: 14px;
    padding-left: 20px;
}

.form-buttons>button {
    float: right;
    margin-left: 20px;
}

.form-buttons {
    .regis-cancel {
        margin-left: 10px;
    }
}

.form-group {
    margin-bottom: 7px;
}

.search-icon {
    padding-left: 5px;
    font-size: 18px;
    display: inline;
    vertical-align: middle;
}

@media screen and (min-width: 768px) {
    .form-horizontal {
        .control-label {
            padding-top: 2px;
        }
    }
}

.form-control {
    height: 25px;
    border-radius: 0;
    padding: 3px 12px;
    font-size: 12px;
    &.with-glyphicon {
        display: inline-block;
    }
}

.logout {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 13px;
}

.chosen-container-single {
    a {
        &.chosen-single {
            border-radius: 0;
        }
    }
}

.input-50 {
    width: 50%;
}

.input-40 {
    width: 40%;
}

.input-20 {
    width: 20%;
}

.input-60 {
    width: 60%;
}

.input-80 {
    width: 80%;
}

.no-padding-left {
    padding-left: 0;
}

input {
    font-size: 12px;
}

select {
    font-size: 12px;
}

ul,
li {
    font-size: 12px;
}

.history {
    div  {
        table {
            margin: 0 auto;
            width: 98%;
            max-width: 98%;
        }
    }
}

.search-row {
    margin: 0 auto;
    width: 98%;
    max-width: 98%;
}

#search-name {
    width: 100%;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 25px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tabs [class^="tab"] > label,
.tabs [class*=" tab"] > label {
    // color: #efedef;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 300;
    line-height: 0.2em;
    padding: 2rem 1rem;
    text-align: center;
}

.tabs [class^="tab"] > [type="radio"],
.tabs [class*=" tab"] > [type="radio"] {
    margin-bottom: 45px;
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #fd264f;
}

.tabs [class^="tab"] [type="radio"]+div,
.tabs [class*=" tab"] [type="radio"]+div {
    display: none;
    opacity: 0;
    margin: 1rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:checked+div,
.tabs [class*=" tab"] [type="radio"]:checked+div {
    opacity: 1;
    display: block;
}

.tabs .tab-2 {
    width: 50%;
    max-height: 560px;
    height: 560px;
}

.tabs .tab-2 [type="radio"]+div {
    width: 200%;
    margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked+div {
    margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"]+div {
    margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked+div {
    margin-left: -100%;
}

.input-group-addon {
    padding: 3px 6px;
}

a.delete {
    color: red;
}

#time, #date {
    display: inline-block;
}

.skin-blue {
    .content-header {
        text-transform: uppercase;
        margin: 0 25px;
        text-align: center;
        vertical-align: middle;
        background-color: white;
    }
}

.with-space {
    padding-top: 30px;
    padding-bottom: 20px;
}



